#div-adding-wrapper {
    width: 100%;
    float: left;
    margin-top: 10px;
}

#div-chemdoodle {
    float: left;
    width: 50%;
    margin: auto auto;
    border-right: 1px dotted black;
}

#div-import {
    width: 50%;
    margin-left: auto;
}

#div-buttons {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

#div-buttons button {
    display: inline;
}

arrow {
    display: inline;
    font-size: 50px;
}

arrow:hover {
    color: #35c308;
    font-weight: bold;
    cursor: pointer;
}

input[type="text"] {
    width: 80%;
}

#div-loader {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

button[disabled] {
    cursor: not-allowed;
}

#input-smiles {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: 0;
}

#input-smiles:hover {
    cursor: text;
}

molid {
    font-style: italic;
    color: #005bc3;
}

#table-info {
    overflow: hidden;
    width: 100%;
    table-layout: fixed;
    margin: 0 auto;
    border-top: 1px dotted black;
    border-collapse: collapse;
}

tr {
    border: 1px solid black;
}

td {
    word-wrap: break-word;
}

tr.success {
    background-color: #71e68e;
}

tr.error {
    background-color: #ff9193;
}

tr.error:hover, tr.success:hover {
    border-color: #005bc3;
    border-width: 2px;
}

#div-info {
    padding-top: 50px;
    padding-right: 5%;
    padding-left: 5%;
}

#div-error {
    font-size: 14px;
    font-weight: bold;
    color: #d3001b;
}