{% load staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        {# <meta http-equiv="X-UA-Compatible" content="chrome=1"> #}

        <title>{% block title %}{% endblock %} @ MolDB</title>

        {% block staticfiles %}
            <link href="{% static "css/style.css" %}" rel="stylesheet" type="text/css">

            <script src="{% static "js/jquery-min.js" %}"></script>
            <script src="{% static "js/stringFormat.js" %}"></script>
            <script src="{% static "js/csrf.js" %}"></script>
        {% endblock %}
    </head>
    <body>
        <div id="div-wrapper">
            <div id="div-header">
                <div id="div-title">
                    <a href="/"><h1 style="color: #ff6200;">MolDB</h1></a>
                </div>
                <div id="div-menu">
                    <table id="table-menu">
                        <tr>
                            <td><a href="{% url 'home' %}">Home</a></td>
                            <td><a href="{% url 'list_molecules' %}">List molecules</a></td>
                            {# <td><a href="">Search</a></td> #}
                            <td><a href="{% url 'add_molecules' %}">Add molecules</a></td>
                        </tr>
                    </table>
                </div>
            </div>

            <div id="div-content">
                {% block content %}
                {% endblock %}
            </div>
        </div>

        <div id="div-footer">
            {% block footer %}

            {% endblock %}
        </div>

        {% block scripts %}
            <script>
                var csrftoken = getCookie('csrftoken');
            </script>
        {% endblock %}
    </body>
</html>