{# TODO: check if file is empty or no file supplied #}

{% extends '_layout.html' %}
{% load staticfiles %}

{% block staticfiles %}
    {{ block.super }}
    <script src="{% static "js/ChemDoodleWeb.js" %}"></script>
    <script src="{% static "js/ChemDoodleWeb-uis.js" %}"></script>

    <link href="{% static "css/ChemDoodleWeb.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "css/jquery-ui-1.10.3.custom.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "css/add_molecules.css" %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block title %}Add molecule{% endblock %}

{% block content %}
    <h2>Add molecule</h2>

    <div id="div-adding-wrapper">
        <div id="div-chemdoodle">
            {% comment %}
            <form id="form-add_molecules" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
            </form>

            <div id="div-arrows">
                <arrow>&uarr;</arrow><arrow>&darr;</arrow>
            </div>
            {% endcomment %}

            <p>You can draw structure:</p>

            <canvas id="canvas-chemdoodle"></canvas>

            <input id="input-smiles" type="text" readonly="readonly" />

            <div id="div-buttons">
                <button id="button-add" type="submit">Add</button>
                <!--<button id="button-reset" type="reset">Reset</button>-->
                <button id="button-smiles" type="button">Show SMILES</button>
            </div>
        </div>

        <div id="div-import">
            <p>You can import file containing molecules. Supports:</p>

            <ul>
                <li>
                    <i>SMILES</i>: one per line
                </li>
                <li>
                    <i>SDF</i>: separated by '$$$$'
                </li>
            </ul>

            <form id="form-import" enctype="multipart/form-data">
                {% csrf_token %}
                <input id="input-file" type="file" />
                <select id="select-file">
                    <option id="smiles" value="smiles">SMILES</option>
                    <option id="sdf" value="sdf">SDF</option>
                </select>
                <button id="button-import" type="submit">Import</button>
            </form>
        </div>
    </div>

    <div id="div-info">
        <div id="div-table-info"></div>
    </div>

{% endblock %}

{% block scripts %}
    {{ block.super }}

    <script>
        var sketcher = new ChemDoodle.SketcherCanvas('canvas-chemdoodle', 500, 300, {useServices: true, oneMolecule: true});
        var uploadStatusInterval;

        function toggleLoad(mode)
        {
            if (mode)
            {
                $("#div-info").prepend("<div id='div-loader'><img src='{% static 'image/gear.gif' %}' alt='Loading...' /></div>");
                $("#div-buttons #button-add").prop('disabled', true);
                $("#button-import").prop('disabled', true);
            }
            else
            {
                $("#div-info #div-loader").remove();
                $("#div-buttons #button-add").prop('disabled', false);
                $("#button-import").prop('disabled', false);
            }
        }

        /*function addUploadedInfo(mol)
        {
            $.ajax({
                url: "/api/uploadMolecules/status",
                method: "GET",
                success: function (result)
                {
                    console.log(result);

                    $("#div-mol_number").text(result.mol_number);

                    $.each(result.uploaded_mols, function ()
                    {
                        if (this.success)
                        {
                            var tr_class = "success";
                        }
                        else
                        {
                            var tr_class = "error";
                        }

                        if (this.error)
                        {
                            var error = this.error;
                        }
                        else
                        {
                            var error = "";
                        }

                        $("#table-info tbody").append(`
                            <tr class="{0}">
                                <td style="text-align: left;">{1}</td>
                                <td>{2}</td>
                                <td>{3}</td>
                            </tr>
                       `.format(tr_class, this.smiles, this.success, error));
                    });

                    if (result.upload_finished)
                    {
                        $("#div-status").text("Upload finished!");
                        clearInterval(uploadStatusInterval);
                    }
                }
            });
        }

        function showUploadInfo()
        {
            $("#div-table-info").html(`
                <div id="div-status></div>
                <div id="div-mol_number></div>

                <table id="table-info" cellpadding="10">
                    <thead>
                        <tr>
                            <th style="width: 75%;">SMILES</th>
                            <th style="width: 10%;">success</th>
                            <th style="width: 15%;">error</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            `);

            //uploadStatusInterval = setInterval(addUploadedInfo, 250);
        }

        // start showing upload info
        $('#form-import').submit(function(e)
        {
            e.preventDefault();
            showUploadInfo();
        });
        */

        function showInfo(result)
        {
            //console.log(result);

            $("#div-info").html(`
                <table id="table-info" cellpadding="10">
                    <thead>
                        <tr>
                            <th style="width: 70%;">SMILES</th>
                            <th style="width: 10%;">success</th>
                            <th style="width: 20%;">error</th>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            `);

            $.each(result.data, function()
            {
                if (this.success)
                {
                    var tr_class = "success";
                }
                else
                {
                    var tr_class = "error";
                }

                if (this.error)
                {
                    var error = this.error;
                }
                else
                {
                    var error = "";
                }

                $("#table-info tbody").append(`
                    <tr class="{0}">
                        <td style="text-align: left;">{1}</td>
                        <td>{2}</td>
                        <td>{3}</td>
                    </tr>
               `.format(tr_class, this.smiles, this.success, error));
            });
        }

        $("#button-add").click(function()
        {
            toggleLoad(true);

            var molfile = ChemDoodle.writeMOL(sketcher.getMolecule());

            if (molfile != "")
            {
                $.ajax({
                    url: "/api/addMolecule",
                    method: "POST",
                    data: {molfile: ChemDoodle.writeMOL(sketcher.getMolecule())},
                    success: function(result)
                    {
                        console.log(result);

                        if (result.status == "success")
                        {
                            showInfo(result);
                        }
                        else
                        {
                            $("#div-info").prepend("<div id='div-error'>" + result.message + "</div>");
                        }
                    },
                    error: function(result)
                    {
                        $("#div-info").prepend("<div id='div-error'>Internal server error.</div>");
                    },
                    complete: function()
                    {
                        toggleLoad(false);
                    }
                    /*success: function(result)
                    {
                        if (result[0].smiles)
                        {
                            $("#input-smiles").val(result[0].smiles);
                        }

                        showUploadInfo();
                    }*/
                });
            }
            else
            {
                $("#div-info").html("<p class='error'>Cannot add empty molecule!</p>");
            }

            toggleLoad(false);
        });

        $("#button-smiles").click(function()
        {
            $.ajax({
                url: "/api/molConverter",
                method: "POST",
                data: {data: ChemDoodle.writeMOL(sketcher.getMolecule()), format_from: "molfile", format_to: "smiles"},
                success: function(result)
                {
                    if (result.success)
                    {
                        $("#input-smiles").val(result.data);
                    }
                    else
                    {
                        $("#input-smiles").val(result.error);
                    }
                }
            });
        });

        $('#form-import').submit(function(e)
        {
            e.preventDefault();

            if (!$("#input-file").val())
            {
                alert("No file selected!");
                return;
            }

            $("#div-info").empty();
            toggleLoad(true);

            var fd = new FormData();
            fd.append("file", $("#input-file")[0].files[0]);
            fd.append("filetype", $(this).find("option:selected").val());

            $.ajax({
                url: '/api/uploadMolecules',
                type: 'POST',
                data: fd,
                cache: false,
                processData: false,
                contentType: false,
                success: function(result)
                {
                    console.log(result);

                    if (result.status == "success")
                    {
                        showInfo(result);
                    }
                    else
                    {
                        $("#div-info").prepend("<div id='div-error'>" + result.message + "</div>");
                    }
                },
                error: function(result)
                {
                    $("#div-info").prepend("<div id='div-error'>Internal server error.</div>");
                },
                complete: function()
                {
                    toggleLoad(false);
                }
            });
        });
    </script>
{% endblock %}