{% extends '_layout.html' %}

{% block title %}List molecules{% endblock %}

{% block content %}
    <table id="table-mols">
        <thead>
            <tr>
                <th>ID</th>
                <th>Added</th>
                <th>Sum formula</th>
                <th>SMILES</th>
                <th>InCHi</th>
                <th>Structure</th>
            </tr>
        </thead>
        <tbody>

            {% for mol in mols %}
                <tr>
                    <td>{{ mol.internal_id }}</td>
                    <td>{{ mol.created }}</td>
                    <td>{{ mol.sum_formula }}</td>
                    <td>{{ mol.smiles }}</td>
                    <td>{{ mol.inchi }}</td>
                    <td>
                        {{ mol.image }}
                    </td>
                </tr>
            {% endfor %}

        </tbody>
    </table>

    <div class="pagination">
        <span class="step-links">
            {% if mols.has_previous %}
                <a href="?page={{ mols.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ mols.number }} of {{ mols.paginator.num_pages }}.
            </span>

            {% if mols.has_next %}
                <a href="?page={{ mols.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>

{% endblock %}